/*
Name: Justin M. Rowe
Course: Visual Frameworks 1207 (VFW)
Assignment: Project 2
Full Sail University
*/

body {
	padding: 0px;
	background-image: -moz-linear-gradient(left, rgb(120,165,172), white, rgb(120,165,172));
	background-image: -webkit-linear(linear, 0% 0%, 0% 100%, from((#78A5AC), to(#FFFFFF);
	background-color: #78a5ac;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22pt;
	color: rgb(89,89,89);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	text-shadow: 1px 1px 1px #666666;	
}

p, a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16pt;
}